/* resets */
html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
a,
a:hover {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* inicio globales */
.wrap {
  padding: 10rem 0;
}
.w-80 {
  width: 80%;
}
.transition {
  transition: opacity 1s ease-in;
}
.hidden {
  opacity: 0 !important;
}
/* fin globales */
.btn:hover {
  color: white;
}
.logo {
  width: 12rem;
}
#navbar {
  background-image: url("../img/food.png");
  position: fixed;
  width: 100%;
  height: 100px;
  transition: 0.3s;
  z-index: 9999;
  display: flex;
  top: 0;
}
.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.navbar--left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navbar__links {
  display: flex;
  justify-content: space-between;
}

a:hover{
  color: #c83333;
  transition: .5s;
}
.contact--button {
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border-radius: 50px 50px;
  background-color: white;
}
.btn__shadow {
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.hero__carousel {
  position: relative;
  width: 80%;
  height: 60vh;
  margin: 0 auto;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;

}
.slide > img {
  display: block;
  object-position: center;
  object-fit: cover;
}
.slide[data-active] {
  opacity: 1;
  z-index: 1;
}
.carousel__button {
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.carousel__button:hover,
.carousel__button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.carousel__button:focus {
  outline: 1px solid black;
}
.carousel__button.prev {
  left: -6rem;
}
.carousel__button.next {
  right: -6rem;
}

.hero {
  padding: 15rem 0;
}
.hero__title,
.products__title,
.about__title {
  font-weight: 700;
  font-size: 5rem;
}
.product { 
  padding-top: 10rem;
}
.btn {
  background-color: #c83333;
  color: white;
  font-weight: 700;
}
.products,
.hero,
.about,
.contact {
  position: relative;
}
.img__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.product {
  width: 100%;
  display: flex;
  align-items: center;
}
.products__img {
  width: 20rem;
}
.hero__subtitle, .products__subtitle {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 1rem 0;
  color: #4b4b4b;
}
.social {
  font-size: 4rem;
  margin: auto;
  width: 50%;
  justify-content: space-around;
  display: flex;
  height: 6rem;
}
.social li {
  position: relative;
}
.social li:hover {
  font-size: 4.5rem;
  color: #c83333;
  transition: 0.5s;
  cursor: pointer;
}
.about__description {
  font-size: 1.8rem;
  margin: 0 auto;
  width: 80%;
}
.items__container {
  width: 90%;
}
.banner {
  width: 100%;
  margin: 0 auto;
  height: 25rem;
  object-fit: cover;
}
.site__footer {
  background-image: url("../img/food.png");
}
.footer__content {
  padding: 5rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__link {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
